@using SARH.WebUI.Models.Configuration
@model ScheduleAdminModel
@{
    ViewData["Title"] = "Horarios";
    ViewData["PageName"] = "Horarios";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-chess-clock-alt'></i> Horarios";
    ViewData["PageDescription"] = "Administración de horarios";
}

@section HeadBlock {

    <link rel="stylesheet" media="screen, print" href="~/css/fa-solid.css">
    <link rel="stylesheet" media="screen, print" href="~/css/fa-brands.css">
    <link rel="stylesheet" media="screen, print" href="https://www.gotbootstrap.com/themes/smartadmin/4.0.2/css/datagrid/datatables/datatables.bundle.css">
    <link rel="stylesheet" media="screen, print" href="https://www.gotbootstrap.com/themes/smartadmin/4.0.2/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css">
    <link rel="stylesheet" media="screen, print" href="https://www.gotbootstrap.com/themes/smartadmin/4.0.2/css/notifications/sweetalert2/sweetalert2.bundle.css">
}

<div class="subheader">
    <ol class="breadcrumb breadcrumb-lg breadcrumb-arrow mb-0">
        <li>
            <a href='@Url.Action("Index","Home")'>
                <i class="fal fa-home"></i>
            </a>
        </li>
        <li>
            <a href='@Url.Action("Index","Schedule")'>
                <i class="fal fa-chess-clock-alt"></i>
                <span class="hidden-lg-down">Horarios</span>
            </a>
        </li>
        <li>
            <a href='#'>
                <i class="fal fa-clock"></i>
                <span class="hidden-lg-down">Configuración de horarios</span>
            </a>
        </li>
    </ol>
</div>


<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Horarios configurados <span class="fw-300"><i></i></span>
                </h2>


                <div class="panel-toolbar demo-h-spacing">
                    <a href="javascript:void(0);" data-backdrop="static" title="Crear horario" data-keyboard="false" data-toggle="modal" data-target=".default-example-modal-right" class="btn btn-primary btn-icon waves-effect waves-themed">
                        <i class="fal fa-calendar-plus"></i>
                    </a>
                    <a id="editrow" href="javascript:void(0);" title="Editar horario" class="btn btn-success btn-icon waves-effect waves-themed">
                        <i class="fal fa-calendar-edit"></i>
                    </a>
                    <a id="deleterow" href='javascript:void(0);' title="Deshabilitar horario" class="btn btn-danger btn-icon waves-effect waves-themed">
                        <i class="fal fa-calendar-times"></i>
                    </a>
                </div>
            </div>

            <div class="panel-container show">
                <div class="panel-content">
                    <div class="form-group row">


                        <div class="col-lg-12">
                            <form>
                                <div class="form-group">
                                    <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                                        <thead class="bg-warning-200">
                                            <tr>
                                                <th>Tipo Horario</th>
                                                <th>Descripción</th>
                                                <th>Hora inicial</th>
                                                <th>Hora final</th>
                                                <th>Habilitado</th>
                                                <th>Vigencia</th>
                                                <th>Anticipada</th>
                                            </tr>
                                        </thead>
                                        <tbody id="allschedules">
                                            @foreach (var item in Model.ScheduleItems)
                                            {
                                            <tr id="@item.Id">
                                                <td>@item.TypeSchedule</td>
                                                <td>@item.Description</td>
                                                <td>@item.StartHour</td>
                                                <td>@item.EndHour</td>
                                                <td>@item.Enabled</td>
                                                <td>@item.EffectiveTime</td>
                                                <td>@item.StartHourAnticipated</td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        </ Modal Crear Nuevo Horario -->

<div class="panel-container show">
    <div class="panel-content">

        <div class="modal fade default-example-modal-right" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-right">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title h4">Crear un nuevo horario</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fal fa-times"></i></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card mb-5">

                            <div class="card-body p-3">
                                <h5>
                                    <small class="mt-0 mb-3 text-muted">
                                        Tipo de horario
                                    </small>
                                    <span class="badge badge-primary fw-n position-absolute pos-top pos-right mt-3 mr-3">A</span>
                                </h5>

                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label class="form-label" for="selectharware">Seleccione el tipo de horario</label>
                                        @Html.DropDownList("scheduletype", (IEnumerable<SelectListItem>)ViewBag.scheduletype, new { id = "scheduletype", @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card mb-g">

                            <div class="card-body p-3">
                                <h5>
                                    Información del horario
                                    <small class="mt-0 mb-3 text-muted">
                                        Ingrese la descripción, la hora inicial, final y la vigencia.
                                    </small>
                                    <span class="badge badge-dark fw-n position-absolute pos-top pos-right mt-3 mr-3">B</span>
                                </h5>

                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label class="form-label" for="descripcion">Descripción</label>
                                        <input class="form-control reseterror" id="descripcion" required="" type="text">
                                    </div>
                                    <div class="col-md-12">
                                        <center>Horario aplica de lunes a viernes</center>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label" for="horainicial">Hora inicial</label>
                                        <input class="form-control reseterror" id="horainicial" type="time" name="time">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label" for="horafinal">Hora final</label>
                                        <input class="form-control" reseterror id="horafinal" type="time" name="time">
                                    </div>
                                    <div class="col-md-12">
                                        <label class="form-label" for="horaanticipada">Reportar registros anticipados (mins.)</label>
                                        <input class="form-control reseterror" id="horaanticipada" required="" type="number" value="0">
                                    </div>


                                    <div class="col-md-12">
                                        <label class="form-label" for="datepicker-4-4">Vigencia inicial</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control reseterror" id="datepicker-4-4">
                                            <div class="input-group-append">
                                                <span class="input-group-text fs-xl">
                                                    <i class="fal fa-calendar-plus"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="form-label" for="datepicker-4-5">Vigencia final</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control reseterror" id="datepicker-4-5">
                                            <div class="input-group-append">
                                                <span class="input-group-text fs-xl">
                                                    <i class="fal fa-calendar-plus"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div id="errorsave" class="alert border-danger bg-transparent text-secondary fade show" role="alert" style="display:none">
                            <div class="d-flex align-items-center">
                                <div class="alert-icon">
                                    <span class="icon-stack icon-stack-md">
                                        <i class="base-7 icon-stack-3x color-danger-900"></i>
                                        <i class="fal fa-times icon-stack-1x text-white"></i>
                                    </span>
                                </div>
                                <div class="flex-1">
                                    <span class="h5 color-danger-900">No se puede guardar, verifique que se han ingresando todos los datos </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="closemodal" type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        <button id="savenewschedule" type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input id='QA' type="hidden" />
<input id='QB' type="hidden" />



@section ScriptsBlock {

    <script src="https://www.gotbootstrap.com/themes/smartadmin/4.0.2/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="https://www.gotbootstrap.com/themes/smartadmin/4.0.2/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="https://www.gotbootstrap.com/themes/smartadmin/4.0.2/js/notifications/sweetalert2/sweetalert2.bundle.js"></script>

    <script>


        var controls = {
            leftArrow: '<i class="fal fa-angle-left" style="font-size: 1.25rem"></i>',
            rightArrow: '<i class="fal fa-angle-right" style="font-size: 1.25rem"></i>'
        }

        var runDatePicker = function () {


            $('#datepicker-4-4').datepicker(
                {
                    orientation: "top left",
                    todayHighlight: true,
                    templates: controls,
                    format: 'dd/mm/yyyy'
                }).on('changeDate', function (e) {

                    $('#QA').val(convert(e.date));
                });

            $('#datepicker-4-5').datepicker(
                {
                    orientation: "top left",
                    todayHighlight: true,
                    templates: controls,
                    format: 'dd/mm/yyyy'
                }).on('changeDate', function (e) {

                    $('#QB').val(convert(e.date));
                });


        }

        function convert(str) {
            var date = new Date(str),
                mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                day = ("0" + date.getDate()).slice(-2);
            hours = ("0" + date.getHours()).slice(-2);
            minutes = ("0" + date.getMinutes()).slice(-2);
            return [day, mnth, date.getFullYear()].join("/");
        }

        $('#dt-basic-example tr').click(function () {

            $(this).addClass('selected').siblings().removeClass('selected');

        });

        $(document).ready(function () {

            runDatePicker();

            $('#dt-basic-example').dataTable(
                {
                    responsive: true
                });


            $('#savenewschedule').click(function () {


                if ($('#horainicialwke').val() !== ""
                    && $('#horafinalwke').val() === "") {

                    $('#errorsave').show();

                    return;
                }

                if ($('#horainicialwke').val() === ""
                    && $('#horafinalwke').val() !== "") {

                    $('#errorsave').show();

                    return;
                }


                if ($('#descripcion').val() === "" || $('#horainicial').val() === ""
                    || $('#horafinal').val() === "") {

                    $('#errorsave').show();

                    return;
                }

                var d1 = $('#datepicker-4-4').val();
                var d2 = $('#datepicker-4-5').val();

                if (d1 != "" && d2 === "") {

                    $('#errorsave').show();
                    return;
                }

                if (d2 != "" && d1 === "") {

                    $('#errorsave').show();
                    return;
                }

                var formData = {
                    Description: $('#descripcion').val(),
                    StartHour: $('#horainicial').val(),
                    EndHour: $('#horafinal').val(),
                    EffectiveTime: d1 + '|' + d2,
                    TypeSchedule: $('#scheduletype').val(),
                    StartHourAnticipated: $('#horaanticipada').val(),
                };

                $.ajax({
                    url: '/Schedule/SaveScheduleNew',
                    type: "POST",
                    data: formData,
                    success: function (data, textStatus, jqXHR) {

                        $('#descripcion').val('');
                        $('#horainicial').val('');
                        $('#horafinal').val('');
                        $('#QA').val('');
                        $('#horainicialwke').val('');
                        $('#horafinalwke').val('');

                        Swal.fire(
                            {
                                position: "top-end",
                                type: "success",
                                title: "Actualización exitosa",
                                showConfirmButton: false,
                                timer: 1500
                            }).then((result) => {

                                window.location.href = '/Schedule/AdminSchedule';

                            });

                    },
                    error: function (jqXHR, textStatus, errorThrown) {

                    }
                });

            });


            $('#deleterow').click(function () {


                var row = $('#allschedules tr.selected');


                if (row.length === 0) {

                    Swal.fire(
                        {
                            type: "warning",
                            title: "Validación",
                            text: "Seleccione un registro"
                        });

                    return;

                }


                var id = row[0].id;



                var swalWithBootstrapButtons = Swal.mixin(
                    {
                        customClass:
                        {
                            confirmButton: "btn btn-primary",
                            cancelButton: "btn btn-danger mr-2"
                        },
                        buttonsStyling: false
                    });
                swalWithBootstrapButtons
                    .fire(
                        {
                            title: "Confirmación",
                            text: "Deseas deshabilitar el elemento?",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonText: "Si",
                            cancelButtonText: "Cancelar",
                            reverseButtons: true
                        })
                    .then(function (result) {

                        if (result.value) {


                            $.ajax({
                                url: '/Schedule/DeleteSchedule',
                                type: "POST",
                                data: { id: id },
                                success: function (data, textStatus, jqXHR) {


                                    if (data.success) {

                                        Swal.fire(
                                            {
                                                position: "top-end",
                                                type: "success",
                                                title: "Actualización exitosa",
                                                showConfirmButton: false,
                                                timer: 1500
                                            }).then((result) => {


                                                window.location.href = '/Schedule/AdminSchedule';

                                            });

                                    }
                                    else {

                                        Swal.fire(
                                            {
                                                type: "error",
                                                title: "Validación",
                                                text: data.message
                                            });

                                        return;


                                    }

                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert(errorThrown);
                                }
                            });
                        }
                        else if (
                            // Read more about handling dismissals
                            result.dismiss === Swal.DismissReason.cancel
                        ) {
                            swalWithBootstrapButtons.fire(
                                "Cancelación",
                                "Se ha cancelado la acción",
                                "error"
                            );
                        }
                    });

            });




            $(".reseterror").change(function () {
                    $('#errorsave').hide();
            });


            $('#closemodal').click(function () {

                $('#errorsave').hide();
            });


        });

    </script>
}