@using SARH.WebUI.Models.Organigrama
@model OrganigramaEmployeeDetailModel
@{
    ViewData["Title"] = "Detalle Empleado";
    ViewData["PageName"] = "Detalle Empleado";
    ViewData["PageDescription"] = "Detalle Empleado";
}
@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="~/css/fa-solid.css">
    <link rel="stylesheet" media="screen, print" href="~/css/fa-brands.css">
    <link rel="stylesheet" media="screen, print" href="https://www.gotbootstrap.com/themes/smartadmin/4.0.2/css/datagrid/datatables/datatables.bundle.css">
    <link rel="stylesheet" media="screen, print" href="https://www.gotbootstrap.com/themes/smartadmin/4.0.2/css/notifications/sweetalert2/sweetalert2.bundle.css">
    <link rel="stylesheet" media="screen, print" href="https://www.gotbootstrap.com/themes/smartadmin/4.0.2/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css">
}

<div class="subheader">
    <ol class="breadcrumb breadcrumb-lg breadcrumb-arrow mb-0">
        <li>
            <a href='@Url.Action("Index","Home")'>
                <i class="fal fa-home"></i>
            </a>
        </li>
    </ol>

</div>


<div class="row">
    <div class="col-lg-6 col-xl-3 order-lg-1 order-xl-1">
        <!-- profile summary -->
        <div class="card mb-g rounded-top">
            <div class="row no-gutters row-grid">
                <div class="col-12">
                    <div class="d-flex flex-column align-items-center justify-content-center p-4">
                        <img id="photoEmployee" class="rounded-circle shadow-2 img-thumbnail" alt="" src="@Model.GeneralInfo.Picture">
                        <h5 class="mb-0 fw-700 text-center mt-3">
                            <small>@Model.GeneralInfo.FirstName @Model.GeneralInfo.LastName</small>
                            @Model.GeneralInfo.JobTitle
                        </h5>
                    </div>
                    <div class="height-8 d-flex flex-row align-items-center flex-wrap flex-shrink-0">
                        <a id="select_photo" class="btn btn-icon fs-xl mr-1" href="javascript:void(0);" data-original-title="Insertar Foto" data-toggle="tooltip" data-placement="top">
                            <i class="fal fa-camera color-fusion-300"></i>
                        </a>
                        <input type="file" style="display:none;" class="custom-file-input" id="photoemployee">
                    </div>
                </div>
            </div>
        </div>

        <!-- add : -->
    </div>

    <input id="" type="hidden" value="@ViewBag.NextEmployeeId"/>

    </ Detalles de la informacion del empleado -->

    <div class="col-lg-12 col-xl-9 order-lg-2 order-xl-2">

        <div class="border bg-light rounded-top">
            <div class="accordion accordion-hover accordion-clean js-list-filter" id="js_list_accordion">



                </ Datos generales empleado -->


                <div class="card border-top-left-radius-0 border-top-right-radius-0">
                    <div class="card-header">
                        <a class="card-title" aria-expanded="true" href="javascript:void(0);" data-toggle="collapse" data-target="#js_list_accordion-a" data-filter-tags="settings">
                            <i class="fal fa-id-badge width-2 fs-xl"></i>
                            Información General
                            <span class="ml-auto">
                                <span class="collapsed-reveal">
                                    <i class="fal fa-chevron-up fs-xl"></i>
                                </span>
                                <span class="collapsed-hidden">
                                    <i class="fal fa-chevron-down fs-xl"></i>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="collapse show" id="js_list_accordion-a" data-parent="#js_list_accordion">
                        <div class="card-body">


                            <div role="group" aria-label="Vertical button group">
                                <a id="saveEmployeeDG" class="btn btn-secondary" href="#"><i class="fal fa-save"></i> Guardar</a>
                                <div class="btn-group" role="group">
                                    <button class="btn btn-secondary dropdown-toggle" id="btnGroupVerticalDrop1" aria-expanded="false" aria-haspopup="true" type="button" data-toggle="dropdown">
                                        <i class="fal fa-bolt"></i>
                                        Acciones
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
                                        <a id="assignedOrganigrama" class="dropdown-item" href='#'>Asignar en el organigrama</a>
                                    </div>
                                </div>
                            </div>
                            <hr />



                            <div class="panel-content">

                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <div class="form-group">
                                            <label class="form-label" for="idTipo">Seleccione el tipo de empleado</label>
                                            <select class="form-control" id="idTipo">
                                                <option value="1">NOMIPAQ</option>
                                                <option value="2">NO EN NÓMINA</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div id="tipoContrato" class="col-md-8 mb-3">
                                        <div class="form-group">
                                            <label class="form-label" for="idTipoContrato">Seleccione el tipo de contrato</label>
                                            <select class="form-control" id="idTipoContrato">
                                                <option value="01">01 Contrato de trabajo por tiempo indeterminado</option>
                                                <option value="02">02 Contrato de trabajo para obra determinada</option>
                                                <option value="03">03 Contrato de trabajo por tiempo determinado</option>
                                                <option value="04">04 Contrato de trabajo por temporada</option>
                                                <option value="05">05 Contrato de trabajo sujeto a prueba</option>
                                                <option value="06">06 Contrato de trabajo con capacitación inicial</option>
                                                <option value="07">07 Modalidad de contratación por pago de hora laborada</option>
                                                <option value="08">08 Modalidad de trabajo por comisión laboral</option>
                                                <option value="09">09 Modalidades de contratación donde no existe relación de trabajo</option>
                                                <option value="99">99 Otro contrato</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label" for="idEmpleadoGenerales">ID Empleado</label>
                                        <input class="form-control" id="idEmpleadoGenerales" disabled="disabled" type="text" placeholder="ID Empleado" value="@Model.GeneralInfo.Id">
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label" for="validationCustom02">Área</label>
                                        <input class="form-control" id="validationCustom02" disabled="disabled" type="text" placeholder="Area" value="@Model.GeneralInfo.Area">
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label" for="validationCustom02">Centro de trabajo</label>
                                        <input class="form-control" id="validationCustom02" disabled="disabled" type="text" placeholder="Centro de trabajo" value="@Model.GeneralInfo.JobCenter">
                                    </div>

                                </div>



                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label" for="employeefirstname">Nombre</label>
                                        <input class="form-control" id="employeefirstname" required="" type="text" placeholder="Nombre" value="@Model.GeneralInfo.FirstName">
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label" for="employeelastname">ApellidoPaterno</label>
                                        <input class="form-control" id="employeelastname" required="" type="text" placeholder="Paterno" value="@Model.GeneralInfo.LastName">
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label" for="employeelastname2">ApellidoMaterno</label>
                                        <input class="form-control" id="employeelastname2" required="" type="text" placeholder="Materno" value="@Model.GeneralInfo.LastName">
                                    </div>
                                </div>

                                <div class="form-row">

                                    <div class="col-md-3 mb-3">
                                        <label class="form-label" for="selectsexo">Seleccione el genero</label>
                                        <select class="form-control" id="selectsexo">
                                            <option value="F">Femenino</option>
                                            <option value="M">Masculino</option>
                                        </select>
                                    </div>

                                    <div class="col-md-3 mb-3">
                                        <label class="form-label" for="datepicker-4-5">Fecha de nacimiento</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control reseterror" id="datepicker-4-5">
                                            <div class="input-group-append">
                                                <span class="input-group-text fs-xl">
                                                    <i class="fal fa-calendar-plus"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label class="form-label" for="validationCustomUsername">Correo Electrónico</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupPrepend"><i class="fal fa-envelope"></i></span>
                                            </div>
                                            <input class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required="" type="text" placeholder="Correo electrónico" value="@Model.GeneralInfo.Email">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label" for="validationCustom03">Puesto <span class="text-danger">*</span></label>
                                        <input class="form-control" id="validationCustom03" disabled="disabled" type="text" placeholder="Puesto" value="@Model.GeneralInfo.JobTitle">
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label class="form-label" for="validationCustom03">Horario Laboral <span class="text-danger">*</span></label>
                                        @Html.DropDownList("dropdownSchedule", (IEnumerable<SelectListItem>)ViewBag.dropdownSchedule, new { id = "dropdownSchedule", @class = "form-control" })
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label class="form-label" for="validationCustom03">Horario Comida<span class="text-danger">*</span></label>
                                        @Html.DropDownList("dropdownScheduleMeal", (IEnumerable<SelectListItem>)ViewBag.dropdownScheduleMeal, new { id = "dropdownScheduleMeal", @class = "form-control" })
                                    </div>
                                </div>


                                <div class="form-row">
                                    <div class="col-md-3 mb-3">
                                        <label class="form-label" for="datepicker-4-4">Fecha de alta</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control reseterror" id="datepicker-4-4">
                                            <div class="input-group-append">
                                                <span class="input-group-text fs-xl">
                                                    <i class="fal fa-calendar-plus"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label class="form-label" for="employeeNSS">NSS</label>
                                        <input class="form-control" id="employeeNSS" required="" type="text" placeholder="NSS" value="@Model.GeneralInfo.NSS">
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label class="form-label" for="employeeCurp">CURP</label>
                                        <input class="form-control" id="employeeCurp" required="" type="text" placeholder="CURP" value="@Model.GeneralInfo.CURP">
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label class="form-label" for="employeeCurp">RFC</label>
                                        <input class="form-control" id="employeerfc" required="" type="text" placeholder="RFC" value="@Model.GeneralInfo.RFC">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-12 mb-3">
                                        <label class="form-label" for="employeeObservations">Observaciones</label>
                                        <textarea class="form-control" id="employeeObservations" required="" placeholder="Observaciones"></textarea>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>


                </ Datos personales empleado -->

                <div class="card">
                    <div class="card-header">
                        <a class="card-title collapsed" aria-expanded="false" href="javascript:void(0);" data-toggle="collapse" data-target="#js_list_accordion-z" data-filter-tags="merge">
                            <i class="fal fa-address-card width-2 fs-xl"></i>
                            Información personal
                            <span class="ml-auto">
                                <span class="collapsed-reveal">
                                    <i class="fal fa-chevron-up fs-xl"></i>
                                </span>
                                <span class="collapsed-hidden">
                                    <i class="fal fa-chevron-down fs-xl"></i>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="collapse" id="js_list_accordion-z" data-parent="#js_list_accordion">
                        <div class="card-body">

                            <div role="group" aria-label="Vertical button group">
                                <a id="savePersonalInfo" class="btn btn-secondary" href="#"><i class="fal fa-save"></i> Guardar</a>
                            </div>
                            <hr />

                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label class="form-label" for="personalphone">Telefono</label>
                                    <input class="form-control" id="personalphone" required="" type="text" placeholder="Telefono" value="@Model.PersonalInfo.Phone">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-label" for="personalcellphone">Celular</label>
                                    <input class="form-control" id="personalcellphone" required="" type="text" placeholder="Celular" value="@Model.PersonalInfo.CellPhone">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-label" for="personalemail">Correo electronico personal</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend"><i class="fal fa-envelope"></i></span>
                                        </div>
                                        <input class="form-control" id="personalemail" aria-describedby="inputGroupPrepend" required="" type="text" placeholder="Correo electronico" value="@Model.PersonalInfo.Email">
                                    </div>
                                </div>

                            </div>


                            <div class="form-row">
                                <div class="col-12 mb-3">
                                    <label class="form-label" for="personaladdress">Calle</label>
                                    <input class="form-control" id="personaladdress" required="" type="text" placeholder="Dirección" value="@Model.PersonalInfo.Address">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label class="form-label" for="personalcity">Ciudad</label>
                                    <input class="form-control" id="personalcity" required="" type="text" placeholder="Ciudad" value="@Model.PersonalInfo.City">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-label" for="personalstate">Estado</label>
                                    <input class="form-control" id="personalstate" required="" type="text" placeholder="Estado" value="@Model.PersonalInfo.State">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-label" for="personalzip">Codigo Postal</label>
                                    <input class="form-control" id="personalzip" required="" type="text" placeholder="Codigo Postal" value="@Model.PersonalInfo.Zip">
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label class="form-label" for="personalsick">Enfermedades Cronicas</label>
                                    <textarea class="form-control" id="personalsick" required="" placeholder="Enfermedades Cronicas"></textarea>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-label" for="personalbloodtype">Tipo de sangre</label>
                                    <textarea class="form-control" id="personalbloodtype" required="" placeholder="Tipo de sangre"></textarea>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>


                </ Datos emergencia empleado -->


                <div class="card">
                    <div class="card-header">
                        <a class="card-title collapsed" aria-expanded="false" href="javascript:void(0);" data-toggle="collapse" data-target="#js_list_accordion-y" data-filter-tags="merge">
                            <i class="fal fa-ambulance width-2 fs-xl"></i>
                            Datos de emergencia
                            <span class="ml-auto">
                                <span class="collapsed-reveal">
                                    <i class="fal fa-chevron-up fs-xl"></i>
                                </span>
                                <span class="collapsed-hidden">
                                    <i class="fal fa-chevron-down fs-xl"></i>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="collapse" id="js_list_accordion-y" data-parent="#js_list_accordion">
                        <div class="card-body">

                            <div role="group" aria-label="Vertical button group">
                                <a id="saveContactInfo" class="btn btn-secondary" href="#"><i class="fal fa-save"></i> Guardar</a>
                            </div>
                            <hr />

                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label class="form-label" for="contactname">Nombre</label>
                                    <input class="form-control" id="contactname" required="" type="text" placeholder="Nombre" value="@Model.EmergencyData.Name">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-label" for="contactphone">Relación</label>
                                    <input class="form-control" id="contactphone" required="" type="text" placeholder="Relación" value="@Model.EmergencyData.Relacion">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-label" for="contactrelation">Telefono</label>
                                    <input class="form-control" id="contactrelation" required="" type="text" placeholder="Telefono" value="@Model.EmergencyData.Phone">
                                </div>

                            </div>


                        </div>
                    </div>
                </div>


            </div>
            <span class="filter-message js-filter-message"></span>
        </div>

    </div>

</div>

<input id='QA' type="hidden" />
<input id='QB' type="hidden" />

@section ScriptsBlock {

    <script src="~/js/statistics/peity/peity.bundle.js"></script>
    <script src="~/js/statistics/flot/flot.bundle.js"></script>
    <script src="~/js/statistics/easypiechart/easypiechart.bundle.js"></script>
    <script src="https://www.gotbootstrap.com/themes/smartadmin/4.0.2/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="https://www.gotbootstrap.com/themes/smartadmin/4.0.2/js/notifications/sweetalert2/sweetalert2.bundle.js"></script>
    <script src="https://www.gotbootstrap.com/themes/smartadmin/4.0.2/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script>


        var controls = {
            leftArrow: '<i class="fal fa-angle-left" style="font-size: 1.25rem"></i>',
            rightArrow: '<i class="fal fa-angle-right" style="font-size: 1.25rem"></i>'
        }

        var runDatePicker = function () {


            $('#datepicker-4-4').datepicker(
                {
                    orientation: "top left",
                    todayHighlight: true,
                    templates: controls,
                    format: 'dd/mm/yyyy'
                }).on('changeDate', function (e) {

                    $('#QA').val(convert(e.date));
                });

            $('#datepicker-4-5').datepicker(
                {
                    orientation: "top left",
                    todayHighlight: true,
                    templates: controls,
                    format: 'dd/mm/yyyy'
                }).on('changeDate', function (e) {

                    $('#QB').val(convert(e.date));
                });


        }

        function convert(str) {
            var date = new Date(str),
                mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                day = ("0" + date.getDate()).slice(-2);
            hours = ("0" + date.getHours()).slice(-2);
            minutes = ("0" + date.getMinutes()).slice(-2);
            return [day, mnth, date.getFullYear()].join("/");
        }


        var saved = false;

        $('#documentsAssignedTable tr').click(function () {

            $(this).addClass('bg-info').siblings().removeClass('bg-info');

        });

        $(document).ready(function () {


            runDatePicker();


            $('#idTipo').on('change', (event) => {

                var id = event.target.value;

                $.ajax({
                    url: '/Organigrama/GetLastNumber',
                    type: "POST",
                    data: { newOption: id },
                    success: function (data, textStatus, jqXHR) {

                        $('#idEmpleadoGenerales').val(data.nextid);

                        if (id === "1") {

                            $('#tipoContrato').show();
                        }
                        else {
                            $('#tipoContrato').hide();
                        }

                    },
                    error: function (jqXHR, textStatus, errorThrown) {

                    }
                });



            });

            $('#assignedOrganigrama').click(function () {

                if (saved == false) {

                    Swal.fire(
                        {
                            type: "warning",
                            title: "Validación",
                            text: "Se debe guardar el empleado antes de asignarle un puesto"
                        });

                    return;

                }



                var Id = $('#idEmpleadoGenerales').val();

                var swalWithBootstrapButtons = Swal.mixin(
                    {
                        customClass:
                        {
                            confirmButton: "btn btn-primary",
                            cancelButton: "btn btn-danger mr-2"
                        },
                        buttonsStyling: false
                    });
                swalWithBootstrapButtons
                    .fire(
                        {
                            title: "Confirmación",
                            text: "Deseas iniciar la asignación del puesto?",
                            type: "warning",
                            position: "top-end",
                            allowOutsideClick: false,
                            showCancelButton: true,
                            confirmButtonText: "Si",
                            cancelButtonText: "Cancelar",
                            reverseButtons: true
                        })
                    .then(function (result) {

                        if (result.value) {

                            window.location.href = '/Employee/HierarchyAssignedReactive/?assignedHGuid=' + $('#rowid').val() + "&employeeID=" + $('#idEmpleadoGenerales').val();

                        }
                        else if (
                            // Read more about handling dismissals
                            result.dismiss === Swal.DismissReason.cancel
                        ) {
                            swalWithBootstrapButtons.fire(
                                "Cancelación",
                                "Se ha cancelado la acción",
                                "error"
                            );
                        }
                    });

            });

            $('#select_photo').click(function () {


                $("#photoemployee").trigger("click");

            });

            var filePhoto;
            var base64img;

            $('#photoemployee').change(function (e) {

                for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {

                    filePhoto = e.originalEvent.srcElement.files[i];
                }

                if (filePhoto != null) {


                    var reader = new FileReader();
                    reader.onloadend = function () {
                        base64img = reader.result;
                        $('#photoEmployee').attr("src", base64img);
                    }
                    reader.readAsDataURL(filePhoto);


                }

            });


            $('#saveEmployeeDG').click(function () {


                var FirstName = $('#employeefirstname').val();
                var LastName =  $('#employeelastname').val();

                if (FirstName === "" && LastName === "") {

                    Swal.fire(
                        {
                            position: "top-end",
                            type: "warning",
                            title: "Validación",
                            text: "Se debe capturar el nombre del empleado."
                        });
                }
                else {

                    var ContratcType = $('#idTipo').val();
                    var SelectionValue =  $('#idTipoContrato').val();
                    var Id =  $('#idEmpleadoGenerales').val();
                    var Email =  $('#validationCustomUsername').val();
                    var NSS =  $('#employeeNSS').val();
                    var HireDate =  $('#datepicker-4-4').val();
                    var Observations = $('#employeeObservations').val();
                    var sexo = $('#selectsexo').val();
                    var Picture = base64img;
                    var name = $('#employeefirstname').val();
                    var lastname = $('#employeelastname').val();
                    var lastname1 = $('#employeelastname2').val();
                    var fechanacimiento = $('#datepicker-4-5').val();
                    var curp = $('#employeeCurp').val();
                    var rfc = $('#employeerfc').val();

                    var model = {
                        ContratcType: ContratcType,
                        SelectionValue: SelectionValue,
                        Id: Id,
                        Email: Email,
                        NSS: NSS,
                        HireDate: HireDate,
                        Observations: Observations,
                        Picture: Picture,
                        FirstName: name,
                        LastName: lastname,
                        LastName2: lastname1,
                        Sexo: sexo,
                        FechaNacimiento: fechanacimiento,
                        CURP: curp,
                        RFC : rfc
                    };

                    $.ajax({
                        url: '/Organigrama/SaveNewEmployee',
                        type: "POST",
                        data: model,
                        success: function (data, textStatus, jqXHR) {

                            Swal.fire(
                                {
                                    position: "top-end",
                                    type: "success",
                                    title: "Actualización exitosa",
                                    showConfirmButton: false,
                                    timer: 1500
                                });

                            $('#idTipo').prop('disabled', true);
                            $('#idTipoContrato').prop('disabled', true);
                            saved = true;


                        },
                        error: function (jqXHR, textStatus, errorThrown) {

                        }
                    });


                }



            });


            $('#savePersonalInfo').click(function () {


                if (saved == false) {

                    Swal.fire(
                        {
                            type: "warning",
                            title: "Validación",
                            text: "Se debe guardar los datos generales previo a esta acción"
                        });

                    return;

                }


                var Id = $('#idEmpleadoGenerales').val();
                var City = $('#personalcity').val();
                var EMP_State = $('#personalstate').val();
                var EMP_Zip = $('#personalzip').val();
                var EMP_Phone = $('#personalphone').val();
                var EMP_Address = $('#personaladdress').val();
                var EMP_Sick = $('#personalsick').val();
                var EMP_Email = $('#personalemail').val();
                var EMP_bloodtype = $('#personalbloodtype').val();
                var EMP_Cellphone = $('#personalcellphone').val();

                var model = {
                    EmployeeId: Id,
                    City: City,
                    State: EMP_State,
                    Zip: EMP_Zip,
                    Phone: EMP_Phone,
                    Address: EMP_Address,
                    Sick: EMP_Sick,
                    Email: EMP_Email,
                    BloodType: EMP_bloodtype,
                    CellPhone : EMP_Cellphone
                };

                $.ajax({
                    url: '/Organigrama/SavePersonalInfo',
                    type: "POST",
                    data: model,
                    success: function (data, textStatus, jqXHR) {

                        Swal.fire(
                            {
                                position: "top-end",
                                type: "success",
                                title: "Actualización exitosa",
                                showConfirmButton: false,
                                timer: 1500
                            });

                        $('#idTipo').prop('disabled', true);
                        $('#idTipoContrato').prop('disabled', true);


                    },
                    error: function (jqXHR, textStatus, errorThrown) {

                    }
                });



            });

            $('#saveContactInfo').click(function () {


                if (saved == false) {

                    Swal.fire(
                        {
                            type: "warning",
                            title: "Validación",
                            text: "Se debe guardar los datos generales previo a esta acción"
                        });

                    return;

                }

                var Id = $('#idEmpleadoGenerales').val();
                var EMP_EmergencyContactName = $('#contactname').val();
                var EMP_EmergencyContactPhone = $('#contactphone').val();
                var EMP_EmergencyContactRelation = $('#contactrelation').val();


                var model = {
                    EmployeeId: Id,
                    Name: EMP_EmergencyContactName,
                    Phone: EMP_EmergencyContactPhone,
                    Relacion: EMP_EmergencyContactRelation
                };

                $.ajax({
                    url: '/Organigrama/SaveContactEmergency',
                    type: "POST",
                    data: model,
                    success: function (data, textStatus, jqXHR) {

                        Swal.fire(
                            {
                                position: "top-end",
                                type: "success",
                                title: "Actualización exitosa",
                                showConfirmButton: false,
                                timer: 1500
                            });

                        $('#idTipo').prop('disabled', true);
                        $('#idTipoContrato').prop('disabled', true);


                    },
                    error: function (jqXHR, textStatus, errorThrown) {

                    }
                });



            });

        });

    </script>
}