@using SARH.WebUI.Models.Formats
@model FormatApproverModel
@{
    ViewData["Title"] = "Aprobadores";
    ViewData["PageName"] = "Aprobadores";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-shield-check'></i> Aprobadores";
    ViewData["PageDescription"] = "Administración de Aprobadores";
}

@section HeadBlock {

    <link rel="stylesheet" media="screen, print" href="~/css/fa-solid.css">
    <link rel="stylesheet" media="screen, print" href="~/css/fa-brands.css">
    <link rel="stylesheet" media="screen, print" href="https://www.gotbootstrap.com/themes/smartadmin/4.0.2/css/datagrid/datatables/datatables.bundle.css">
    <link rel="stylesheet" media="screen, print" href="https://www.gotbootstrap.com/themes/smartadmin/4.0.2/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css">
    <link rel="stylesheet" media="screen, print" href="https://www.gotbootstrap.com/themes/smartadmin/4.0.2/css/notifications/sweetalert2/sweetalert2.bundle.css">
}

<div class="subheader">
    <ol class="breadcrumb breadcrumb-lg breadcrumb-arrow mb-0">
        <li>
            <a href='@Url.Action("Index","Home")'>
                <i class="fal fa-home"></i>
            </a>
        </li>
        <li>
            <a href='@Url.Action("Index","Catalog")'>
                <i class="fal fal fa-tags"></i>
                <span class="hidden-lg-down">Catálogos</span>
            </a>
        </li>
        <li>
            <a href='#'>
                <i class="fal fa-users"></i>
                <span class="hidden-lg-down">Asignar Aprobadores</span>
            </a>
        </li>
    </ol>
</div>


<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Empleados asignados para aprobar formatos <span class="fw-300"><i></i></span>
                </h2>

                <div class="panel-toolbar">
                    <div class="demo-h-spacing">
                        <a href="javascript:void(0);" data-backdrop="static" title="Agregar Aprobador Por Puesto" data-keyboard="false" data-toggle="modal" data-target=".default-example-modal-right-2" class="btn btn-secondary btn-icon waves-effect waves-themed">
                            <i class="fal fa-user"></i>
                        </a>
                        <a href="javascript:void(0);" data-backdrop="static" title="Agregar Aprobador" data-keyboard="false" data-toggle="modal" data-target=".default-example-modal-right" class="btn btn-primary btn-icon waves-effect waves-themed">
                            <i class="fal fa-user"></i>
                        </a>
                        <a href="javascript:void(0);" id="viewapprovers" title="Ver Aprobadores" data-keyboard="false" class="btn btn-info btn-icon waves-effect waves-themed">
                            <i class="fal fa-tasks"></i>
                        </a>
                    </div>
                </div>

            </div>

            <div class="panel-container show">
                <div class="panel-content">
                    <div class="form-group row">


                        <div class="col-lg-12">
                            <form>
                                <div class="form-group">
                                    <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                                        <thead class="bg-warning-200">
                                            <tr>
                                                <th>Area</th>
                                                <th>Centro</th>
                                                <th>Puesto</th>
                                                <th>Nombre</th>
                                                <th>Orden Aprobación</th>
                                            </tr>
                                        </thead>
                                        <tbody id="allschedules">
                                            @foreach (var item in Model.Approvers)
                                            {
                                                <tr data-id="@item.Id">
                                                    <td>@item.Area</td>
                                                    <td>@item.Centro</td>
                                                    <td>@item.Puesto</td>
                                                    <td>@item.Approver</td>
                                                    <td>@item.Order</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</ Modal Agregar Approver -->

<div class="panel-container show">
    <div class="panel-content">

        <div class="modal fade default-example-modal-right" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-right">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title h4">Agregar Aprobador</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fal fa-times"></i></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card mb-5">

                            <div class="card-body p-3">
                                <h5>
                                    <small class="mt-0 mb-3 text-muted">
                                        Configure a que Area, Centro, Departamento
                                    </small>
                                    <span class="badge badge-primary fw-n position-absolute pos-top pos-right mt-3 mr-3">A</span>
                                </h5>

                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label class="form-label" for="selectareas">Area</label>
                                        @Html.DropDownList("Areas", (IEnumerable<SelectListItem>)ViewBag.Areas, new { id = "Areas", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label class="form-label" for="selectjobcenter">Centro de trabajo</label>
                                        <select id="selectjobcenter" class="form-control">
                                            <option id="0">Seleccione una opción</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label class="form-label" for="selectdepto">Departamento</label>
                                        <select id="selectdepto" class="form-control">
                                            <option id="0">Seleccione una opción</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="card mb-g">

                            <div class="card-body p-3">
                                <h5>
                                    Asignar un aprobador
                                    <small class="mt-0 mb-3 text-muted">
                                        Buscar a el empleado que sera el aprobador
                                    </small>
                                    <span class="badge badge-dark fw-n position-absolute pos-top pos-right mt-3 mr-3">B</span>
                                </h5>

                                <div class="form-row">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text text-success">
                                                        <i class="ni ni-user fs-xl"></i>
                                                    </span>
                                                </div>
                                                <input type="text" aria-label="searchtext" class="form-control" placeholder="Empleado" id="searchText" maxlength="5">
                                                <div class="input-group-append">
                                                    <button id="searchbutton" type="button" class="btn btn-success shadow-0 waves-effect waves-themed">

                                                        <span id="imgsearch" class="fal fa-search mr-1"></span>

                                                        <span id="spin" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display:none"></span>

                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="searchresult" class="col-md-12 panel-tag">

                                        </div>

                                    </div>


                                </div>
                            </div>

                        </div>

                        <div id="errorsave" class="alert border-danger bg-transparent text-secondary fade show" role="alert" style="display:none">
                            <div class="d-flex align-items-center">
                                <div class="alert-icon">
                                    <span class="icon-stack icon-stack-md">
                                        <i class="base-7 icon-stack-3x color-danger-900"></i>
                                        <i class="fal fa-times icon-stack-1x text-white"></i>
                                    </span>
                                </div>
                                <div class="flex-1">
                                    <span class="h5 color-danger-900">No se puede guardar, verifique que se han ingresando todos los datos </span>
                                </div>
                            </div>
                        </div>

                        <center>
                            <div id="spinwait" class="spinner-border" style="width: 3rem; height: 3rem; display:none;" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </center>


                    </div>
                    <div class="modal-footer">
                        <button id="closemodal" type="button" class="btn btn-danger reseterror" data-dismiss="modal">Cerrar</button>
                        <button id="savenewapprover" type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</ Modal View Approvers -->

<div class="panel-container show">
    <div class="panel-content">

        <div id="viewapproversmodel" class="modal fade default-example-modal-rightorder" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-right">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title h4">Aprobadores</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fal fa-times"></i></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card mb-5">

                            <div class="card-body p-3">
                                <h5>
                                    <small class="mt-0 mb-3 text-muted">
                                        Aprobadores
                                    </small>
                                    <span class="badge badge-primary fw-n position-absolute pos-top pos-right mt-3 mr-3">A</span>
                                </h5>

                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label class="form-label" for="viewarea">Area</label>
                                        <input type="text" id="viewarea" disabled="disabled" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label class="form-label" for="viewjobcenter">Centro de trabajo</label>
                                        <input type="text" id="viewjobcenter" disabled="disabled" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label class="form-label" for="viewdepto">Departamento</label>
                                        <input type="text" id="viewdepto" disabled="disabled" class="form-control" />
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="card mb-g">

                            <div class="card-body p-3">
                                <h5>
                                    <small class="mt-0 mb-3 text-muted">
                                        Lista de aprobadores
                                    </small>
                                    <span class="badge badge-dark fw-n position-absolute pos-top pos-right mt-3 mr-3">B</span>
                                </h5>

                                <div class="form-row">
                                    <div class="flex-1 d-flex align-items-center">
                                        <a href="javascript:void(0);" id="js-delete-selected" title="Eliminar aprobador" class="btn btn-icon rounded-circle mr-1 waves-effect waves-themed">
                                            <i class="fas fa-trash fs-md"></i>
                                        </a>
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="col-md-12">
                                        <ul id="elementsfinded">
                                        </ul>
                                    </div>


                                </div>
                            </div>

                        </div>

                        <div id="errorsave" class="alert border-danger bg-transparent text-secondary fade show" role="alert" style="display:none">
                            <div class="d-flex align-items-center">
                                <div class="alert-icon">
                                    <span class="icon-stack icon-stack-md">
                                        <i class="base-7 icon-stack-3x color-danger-900"></i>
                                        <i class="fal fa-times icon-stack-1x text-white"></i>
                                    </span>
                                </div>
                                <div class="flex-1">
                                    <span class="h5 color-danger-900">No se puede guardar, verifique que se han ingresando todos los datos </span>
                                </div>
                            </div>
                        </div>

                        <center>
                            <div id="spinwait" class="spinner-border" style="width: 3rem; height: 3rem; display:none;" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </center>


                    </div>
                    <div class="modal-footer">
                        <button id="closemodal" type="button" class="btn btn-danger reseterror" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</ Modal Agregar Approver Por Puesto -->

<div class="panel-container show">
    <div class="panel-content">

        <div class="modal fade default-example-modal-right-2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-right">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title h4">Agregar Aprobador Por Puesto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fal fa-times"></i></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card mb-5">

                            <div class="card-body p-3">
                                <h5>
                                    <small class="mt-0 mb-3 text-muted">
                                        Agrege el aprobador
                                    </small>
                                    <span class="badge badge-primary fw-n position-absolute pos-top pos-right mt-3 mr-3">A</span>
                                </h5>

                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text text-success">
                                                        <i class="ni ni-user fs-xl"></i>
                                                    </span>
                                                </div>
                                                <input type="text" aria-label="searchtext" class="form-control" placeholder="Empleado" id="searchTextPP" maxlength="5">
                                                <div class="input-group-append">
                                                    <button id="searchbuttonPP" type="button" class="btn btn-success shadow-0 waves-effect waves-themed">

                                                        <span id="imgsearchPP" class="fal fa-search mr-1"></span>

                                                        <span id="spinPP" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display:none"></span>

                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="searchresultPP" class="col-md-12 panel-tag">

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card mb-g">

                            <div class="card-body p-3">
                                <h5>
                                    Asignar un empleado
                                    <small class="mt-0 mb-3 text-muted">
                                        Buscar a el empleado que sera asignado el aprobador
                                    </small>
                                    <span class="badge badge-dark fw-n position-absolute pos-top pos-right mt-3 mr-3">B</span>
                                </h5>

                                <div class="form-row">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text text-success">
                                                        <i class="ni ni-user fs-xl"></i>
                                                    </span>
                                                </div>
                                                <input type="text" aria-label="searchtext" class="form-control" placeholder="Empleado" id="searchTextPPA" maxlength="5">
                                                <div class="input-group-append">
                                                    <button id="searchbuttonPPA" type="button" class="btn btn-success shadow-0 waves-effect waves-themed">

                                                        <span id="imgsearchPPA" class="fal fa-search mr-1"></span>

                                                        <span id="spinPPA" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display:none"></span>

                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="d-flex flex-wrap align-items-center pl-3 pr-1 py-2 px-sm-4 px-lg-5 border-faded border-top-0 border-left-0 border-right-0">
                                                <div class="flex-1 d-flex align-items-center">
                                                    <a href="javascript:void(0);" id="js-delete-selectedPA" class="btn btn-icon rounded-circle mr-1 waves-effect waves-themed">
                                                        <i class="fas fa-trash fs-md"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="col-md-12">
                                                <ul id="elementsadded">
                                                </ul>
                                            </div>

                                        </div>


                                    </div>
                            </div>

                        </div>

                        <div id="errorsavePPA" class="alert border-danger bg-transparent text-secondary fade show" role="alert" style="display:none">
                            <div class="d-flex align-items-center">
                                <div class="alert-icon">
                                    <span class="icon-stack icon-stack-md">
                                        <i class="base-7 icon-stack-3x color-danger-900"></i>
                                        <i class="fal fa-times icon-stack-1x text-white"></i>
                                    </span>
                                </div>
                                <div class="flex-1">
                                    <span class="h5 color-danger-900">No se puede guardar, verifique que se han ingresando todos los datos </span>
                                </div>
                            </div>
                        </div>

                        <center>
                            <div id="spinwaitPPA" class="spinner-border" style="width: 3rem; height: 3rem; display:none;" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </center>


                    </div>
                    <div class="modal-footer">
                        <button id="closemodalPPA" type="button" class="btn btn-danger reseterror" data-dismiss="modal">Cerrar</button>
                        <button id="savenewapproverPPA" type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section ScriptsBlock {

    <script src="https://www.gotbootstrap.com/themes/smartadmin/4.0.2/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="https://www.gotbootstrap.com/themes/smartadmin/4.0.2/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="https://www.gotbootstrap.com/themes/smartadmin/4.0.2/js/notifications/sweetalert2/sweetalert2.bundle.js"></script>

    <script>


        $('#dt-basic-example tr').click(function () {

            $(this).addClass('selected').siblings().removeClass('selected');

        });


        $(document).ready(function () {

            var cansave = false;

            $('#dt-basic-example').dataTable(
                {
                    responsive: true
                });

            $('#Areas').change(function () {


                var areaselected = $('#Areas option:selected').text();

                $.ajax({
                    url: '/Catalog/GetCentros',
                    type: "POST",
                    data: { area: areaselected },
                    success: function (data, textStatus, jqXHR) {
                        $('#selectjobcenter').empty();
                        $('#selectjobcenter').append(new Option('Seleccione una opción', '0'));
                        $('#selectdepto').empty();
                        $('#selectdepto').append(new Option('Seleccione una opción', '0'));
                        data.collection.forEach(function (ele, index) {
                            $('#selectjobcenter').append(new Option(ele.descripcion, ele.id));
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });

            });

            $('#selectjobcenter').change(function () {


                var areaselected = $('#Areas option:selected').text();
                var jobcenterselected = $('#selectjobcenter option:selected').text();

                $.ajax({
                    url: '/Catalog/GetDeptos',
                    type: "POST",
                    data: { area: areaselected, centros: jobcenterselected },
                    success: function (data, textStatus, jqXHR) {
                        $('#selectdepto').empty();
                        $('#selectdepto').append(new Option('Seleccione una opción', '0'));
                        data.collection.forEach(function (ele, index) {
                            $('#selectdepto').append(new Option(ele.descripcion, ele.id));
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });

            });

            $('#searchbutton').click(function () {

                cansave = false;
                $('#errorsave').hide();
                $('#imgsearch').hide();
                $('#spin').show();
                $('#searchresult').empty();

                var areaselected = $('#Areas option:selected').text();
                var jobcenterselected = $('#selectjobcenter option:selected').text();
                var deptoselected = $('#selectdepto option:selected').text();
                var approver = $('#searchText').val();



                $.ajax({
                    url: '/Catalog/GetEmployeeApprover',
                    type: "POST",
                    data: { employeeId: approver, area: areaselected, centro: jobcenterselected, depto: deptoselected },
                    success: function (data, textStatus, jqXHR) {

                        if (data.rows > 0) {
                            cansave = true;
                            $('#searchresult').append('<span id="' + data.id + '" class="elementadded">' + data.value + '</span>');
                        }
                        else {
                            cansave = false;
                            $('#searchresult').append('<span id="' + data.id + '" class="elementadded">' + data.value + '</span>');
                        }

                        $('#imgsearch').show();
                        $('#spin').hide();



                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });

            });

            $('#savenewapprover').click(function () {
                9
                if (!cansave) {

                    $('#errorsave').show();
                    return;
                }
                else {
                    $('#errorsave').hide();
                }

                $('#spinwait').show();

                var areaselected = $('#Areas option:selected').text();
                var jobcenterselected = $('#selectjobcenter option:selected').text();
                var deptoselected = $('#selectdepto option:selected').text();
                var approver = $('#searchText').val();

                $.ajax({
                    url: '/Catalog/SaveApprover',
                    type: "POST",
                    data: { area: areaselected, centro: jobcenterselected, depto: deptoselected, approver: approver },
                    success: function (data, textStatus, jqXHR) {

                        window.location.href = '/Catalog/Aprobadores';

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });



            });

            $('.reseterror').click(function () {

                $("#Areas option:first").attr('selected', 'selected');
                $("#selectjobcenter option:first").attr('selected', 'selected');
                $("#selectdepto option:first").attr('selected', 'selected');
                $('#searchText').val('');
                $('#searchresult').empty();
                cansave = false;

            });

            $('#viewapprovers').click(function () {

                var row = $('#allschedules tr.selected');
                var idrow = row.data("id");

                if (idrow === undefined) {

                    Swal.fire(
                        {
                            type: "warning",
                            title: "Validación",
                            text: "Seleccione un registro"
                        });

                    return;

                }

                $('#elementsfinded').empty();

                $.ajax({
                    url: '/Catalog/GetApprovers',
                    type: "POST",
                    data: { id: idrow },
                    success: function (data, textStatus, jqXHR) {

                        $('#viewarea').val(data.area);
                        $('#viewjobcenter').val(data.centro);
                        $('#viewdepto').val(data.depto);

                        data.collection.forEach(function (dataDet, index) {
                            $('#elementsfinded').append('<li><div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" id="row-' + dataDet.id + '"><label class="custom-control-label" for="row-' + dataDet.id + '">' + dataDet.approver + '</label></div></li>');
                        });

                        $('#viewapproversmodel').modal();

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });

            });

            $('#js-delete-selected').click(function () {

                var selectedelements = new Array();
                $("#elementsfinded input[type=checkbox]:checked").each(function () {
                    var idelement = this.id;
                    selectedelements.push(idelement);
                });

                $.ajax({
                    url: '/Catalog/DeleteApprovers',
                    type: "POST",
                    data: { items: selectedelements },
                    success: function (data, textStatus, jqXHR) {

                        window.location.href = '/Catalog/Aprobadores';

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });


            });



            $('#searchbuttonPP').click(function () {

                $('#imgsearchPP').hide();
                $('#spinPP').show();
                $('#searchresultPP').empty();

                var approver = $('#searchTextPP').val();

                $.ajax({
                    url: '/Catalog/GetEmployeeApproverPP',
                    type: "POST",
                    data: { employeeId: approver },
                    success: function (data, textStatus, jqXHR) {

                        if (data.rows > 0) {
                            $('#searchresultPP').append('<span id="' + data.id + '" class="elementadded">' + data.value + '</span>');
                        }
                        else {
                            $('#searchresultPP').append('<span id="' + data.id + '" class="elementadded">' + data.value + '</span>');
                        }

                        $('#imgsearchPP').show();
                        $('#spinPP').hide();



                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });

            });


            $('#searchbuttonPPA').click(function () {

                $('#imgsearchPPA').hide();
                $('#spinPPA').show();

                var approver = $('#searchTextPPA').val();

                $.ajax({
                    url: '/Catalog/GetEmployeeForApprover',
                    type: "POST",
                    data: { employeeId: approver },
                    success: function (data, textStatus, jqXHR) {

                        if (data.rows > 0) {
                            $('#elementsadded').append('<li data-ident=' + data.id + '><div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" id="' + data.id + '"><label class="custom-control-label" for="' + data.id + '">' + data.value + '</label></div></li>');
                        }

                        $('#imgsearchPPA').show();
                        $('#spinPPA').hide();
                        $('#searchTextPPA').val('');


                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });

            });


            $('#js-delete-selectedPA').click(function () {


                $("#elementsadded input[type=checkbox]:checked").each(function () {

                    $(this).closest('li').remove();

                });




            });


            $('#savenewapproverPPA').click(function () {

                var elements = [];

                $('#elementsadded').find('li').each(function () {
                    elements.push($(this).data('ident'));
                });

                if (elements.length > 0) {


                    $.ajax({
                        url: '/Catalog/SaveApproverPPA',
                        type: "POST",
                        data: { approver: $('#searchTextPP').val(), employees: elements },
                        success: function (data, textStatus, jqXHR) {

                            window.location.href = '/Catalog/Aprobadores';

                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });

                }

            });



        });

    </script>
}