@using SARH.WebUI.Models.Notification;
@model NotificationModel;

<div class="dropdown-header bg-trans-gradient d-flex justify-content-center align-items-center rounded-top mb-2">
    <h4 class="m-0 text-center color-white">
        <span id="totalpendingsapprobed"></span>
        <small class="mb-0 opacity-80"><span>Aprobaciones pendientes&nbsp;</span>@Model.Notifications</small>
    </h4>
</div>
<ul class="nav nav-tabs nav-tabs-clean" role="tablist">
    <li class="nav-item">
        <a class="nav-link px-4 fs-md js-waves-on fw-500" data-toggle="tab" href="#tab-messages" data-i18n="drpdwn.messages">Vacaciones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link px-4 fs-md js-waves-on fw-500" data-toggle="tab" href="#tab-feeds" data-i18n="drpdwn.feeds">Permisos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link px-4 fs-md js-waves-on fw-500" data-toggle="tab" href="#tab-events" data-i18n="drpdwn.events">Otros</a>
    </li>
</ul>
<div class="tab-content tab-notification">
    <div class="tab-pane active p-3 text-center">
        <h5 class="mt-4 pt-4 fw-500">
            <span class="d-block fa-3x pb-4 text-muted">
                <i class="ni ni-arrow-up text-gradient opacity-70"></i>
            </span> Seleccione el tipo de formato a aprobar
        </h5>
    </div>
    <div class="tab-pane" id="tab-messages" role="tabpanel">
        <div class="custom-scroll h-100">
            <ul class="notification">
                @foreach (var item in Model.LastVacationsNotificationsItems)
                {
                    <li class="unread">
                        <div class="d-flex align-items-center show-child-on-hover">
                            <span class="d-flex flex-column flex-1">
                                <span class="name d-flex align-items-center">Formato #@item.Id<span class="badge badge-success fw-n ml-1">Nuevo</span></span>
                                <span class="msg-a fs-sm">
                                    Aprobación requerida <strong>No. Empleado @item.EmployeeId</strong> <a href='@Url.Action("FormatoInfo", "FormatApprove", new { idFormat = item.Id })'>(ver formato)</a>
                                </span>
                            </span>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="tab-pane" id="tab-feeds" role="tabpanel">
        <div class="custom-scroll h-100">
            <ul class="notification">
                @foreach (var item in Model.LastPermissionsNotificationsItems)
                {
                    <li class="unread">
                        <div class="d-flex align-items-center show-child-on-hover">
                            <span class="d-flex flex-column flex-1">
                                <span class="name d-flex align-items-center">Formato #@item.Id<span class="badge badge-success fw-n ml-1">Nuevo</span></span>
                                <span class="msg-a fs-sm">
                                    Aprobación requerida <strong>No. Empleado @item.EmployeeId</strong> <a href='@Url.Action("FormatoInfo", "FormatApprove", new { idFormat = item.Id })'>(ver formato)</a>
                                </span>
                            </span>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="tab-pane" id="tab-events" role="tabpanel">
        <div class="d-flex flex-column h-100">
            <ul class="notification">
                @foreach (var item in Model.LastOthersNotificationsItems)
                {
                    <li class="unread">
                        <div class="d-flex align-items-center show-child-on-hover">
                            <span class="d-flex flex-column flex-1">
                                <span class="name d-flex align-items-center">Formato #@item.Id<span class="badge badge-success fw-n ml-1">Nuevo</span></span>
                                <span class="msg-a fs-sm">
                                    Aprobación requerida <strong>No. Empleado @item.EmployeeId</strong> <a href='@Url.Action("FormatoInfo", "FormatApprove", new { idFormat = item.Id })'>(ver formato)</a>
                                </span>
                            </span>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<div class="py-2 px-3 bg-faded d-block rounded-bottom text-right border-faded border-bottom-0 border-right-0 border-left-0">
    <a href='@Url.Action("Pendientes","FormatApprove")' class="fs-xs fw-500 ml-auto">Ver todas las aprobaciones pendientes</a>
</div>
