@model SARH.WebUI.Models.Dashboard.DashboardModel

@{
    ViewData["Title"] = "Dashboard Hoy";
}


@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="https://www.gotbootstrap.com/themes/smartadmin/4.0.2/css/datagrid/datatables/datatables.bundle.css">
}

<div class="subheader">
    <h1 class="subheader-title">
        <i class="subheader-icon fal fa-chart-area"></i> Dashboard <span class="fw-300"> - @DateTime.Now.ToShortDateString()</span>
        <small>
        </small>
    </h1>
    <div class="d-flex mr-4">
        <div>
            <label class="fs-sm mb-0 mt-2 mt-md-0">Vacaciones</label>
            <h4 class="font-weight-bold mb-0">@Model.AverageEntryDelay</h4>
        </div>
    </div>
    <div class="d-flex mr-0">
        <div>
            <label class="fs-sm mb-0 mt-2 mt-md-0">Permisos</label>
            <h4 class="font-weight-bold mb-0">@Model.AverageJobPermission</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-xl-2">
        <div class="p-3 bg-warning-800 rounded overflow-hidden position-relative text-white mb-g">
            <div>
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    @Model.EntryDelay
                    <small class="m-0 l-h-n">Retardos entrada</small>
                </h3>
            </div>
            <i class="fal fa-clock position-absolute pos-right pos-top opacity-70" style="font-size: 3rem;padding-top:5px;"></i>
            <div align="left" style="margin-top:5px;">
                <div class="custom-control custom-switch mr-2">
                    <input type="checkbox" class="custom-control-input" name="gra-0" id="filter-0">
                    <label class="custom-control-label" for="filter-0"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-2">
        <div class="p-3 bg-info-600 rounded overflow-hidden position-relative text-white mb-g">
            <div>
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    @Model.EndDayDelay
                    <small class="m-0 l-h-n">Salidas anticipadas</small>
                </h3>
            </div>
            <i class="fal fa-clock position-absolute pos-right pos-top opacity-70" style="font-size: 3rem;padding-top:5px;"></i>
            <div align="left" style="margin-top:5px;">
                <div class="custom-control custom-switch mr-2">
                    <input type="checkbox" class="custom-control-input" name="gra-1" id="filter-1">
                    <label class="custom-control-label" for="filter-1"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-2">
        <div class="p-3 bg-danger-800 rounded overflow-hidden position-relative text-white mb-g">
            <div>
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    @Model.NoEntryCheck
                    <small class="m-0 l-h-n">Sin registros</small>
                </h3>
            </div>
            <i class="fal fa-clock position-absolute pos-right pos-top opacity-70" style="font-size: 3rem;padding-top:5px;"></i>
            <div align="left" style="margin-top:5px;">
                <div class="custom-control custom-switch mr-2">
                    <input type="checkbox" class="custom-control-input" name="gra-2" id="filter-2">
                    <label class="custom-control-label" for="filter-2"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-2">
        <div class="p-3 bg-warning-800 rounded overflow-hidden position-relative text-white mb-g">
            <div>
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    @Model.FoodStartDelay
                    <small class="m-0 l-h-n">Salida comida</small>
                </h3>
            </div>
            <i class="fal fa-utensils position-absolute pos-right pos-top opacity-70" style="font-size: 3rem;padding-top:5px;"></i>
            <div align="left" style="margin-top:5px;">
                <div class="custom-control custom-switch mr-2">
                    <input type="checkbox" class="custom-control-input" name="gra-3" id="filter-3">
                    <label class="custom-control-label" for="filter-3"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-2">
        <div class="p-3 bg-info-600 rounded overflow-hidden position-relative text-white mb-g">
            <div>
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    @Model.FoodEndDelay
                    <small class="m-0 l-h-n">Entrada comida</small>
                </h3>
            </div>
            <i class="fal fa-utensils position-absolute pos-right pos-top opacity-70" style="font-size: 3rem;padding-top:5px;"></i>
            <div align="left" style="margin-top:5px;">
                <div class="custom-control custom-switch mr-2">
                    <input type="checkbox" class="custom-control-input" name="gra-4" id="filter-4">
                    <label class="custom-control-label" for="filter-4"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-2">
        <div class="p-3 bg-danger-800 rounded overflow-hidden position-relative text-white mb-g">
            <div>
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    @Model.NoFoodEntryCheck
                    <small class="m-0 l-h-n">Sin registro</small>
                </h3>
            </div>
            <i class="fal fa-utensils position-absolute pos-right pos-top opacity-70" style="font-size: 3rem;padding-top:5px;"></i>
            <div align="left" style="margin-top:5px;">
                <div class="custom-control custom-switch mr-2">
                    <input type="checkbox" class="custom-control-input" name="gra-5" id="filter-5">
                    <label class="custom-control-label" for="filter-5"></label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div id="panel-4" class="panel">
            <div class="panel-hdr">
                <h2>
                    Incidencias <span class="fw-300"><i>Diarias</i></span>
                </h2>
                <div class="panel-toolbar demo-h-spacing">
                    <a id="applyfilter" href="javascript:void(0);" title="Filtrar" class="btn btn-success btn-icon waves-effect waves-themed">
                        <i class="fal fa-filter"></i>
                    </a>
                </div>
            </div>
            <div class="panel-container show">

                <div class="panel-content">



                    @await Component.InvokeAsync("DashboardToday", new { model = @Model.EmployeeDetail })
                </div>
            </div>


        </div>
    </div>
</div>

@section ScriptsBlock {

    <script src="https://www.gotbootstrap.com/themes/smartadmin/4.0.2/js/datagrid/datatables/datatables.bundle.js"></script>

    <script>

        $(document).ready(function () {
            /* init datatables */

            $('#dt-basic-example').dataTable(
                {
                    responsive: true
                });

        });
    </script>
}